@mixin triangle($to,$width,$height,$color) {
	width: 0;
	height: 0;
	border-style: solid;
	@if $to == 'top' {
		border-width: 0 $width / 2 $height $width / 2;
		border-color: transparent transparent $color transparent;
	} @else if $to == 'left' {
		border-width: $height / 2 $width $height /2 0;
		border-color: transparent $color transparent transparent;
	} @else if $to == 'bottom' {
		border-width: $height $width / 2 0 $width / 2;
		border-color: $color transparent transparent transparent;
	} @else if $to == 'right' {
		border-width: $height / 2 0 $height / 2 $width;
		border-color: transparent transparent transparent $color;
	}
}