<section id="contact" class="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactez-nous</h2>
                <p>Dans la mesure de leur disponibilité, Pauline et Damien peuvent se rendre à votre projection pour échanger sur le contenu du film. Une animation pédagogique peut également être organisée en partenariat avec Quinoa asbl.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <ul class="list-inline">
                    <li>
                        +32 484 522 660 - Damien Charles
                        +32 485 67 45 36 - Pauline Dutron
                    </li>
                    <li>
                        info@minga-docu.net
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
