<section id="about" class="bg-primary section-about">
    <div class="container text-center">
      <p class="big">De la <strong>Patagonie aux montagnes du Mexique</strong>, des communautés se soulèvent. Elles dénoncent la <strong>destruction de leurs territoires et de leurs vies</strong>. Puisant dans leurs héritages culturels, elles s'organisent pour arrêter le carnage et <strong>créer des solutions inspirantes</strong>. Le documentaire Minga est un écho de ces voix de résistance.</p>
      <p class="big">Pauline et Damien sont partis <strong>deux ans à leur rencontre</strong> et leur ont laissé une liberté de parole totale. Le tournage a été réalisé avec la plus faible empreinte écologique possible (voies terrestres et maritimes uniquement).</p>
    </div>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
          <img data-src="/img/banner/5.jpg" class="img-responsive lazyload appear">
        </div>
        <div class="col-lg-4 col-sm-6">
          <img data-src="/img/banner/6.jpg" class="img-responsive lazyload appear">
        </div>
        <div class="col-lg-4 col-sm-6">
          <img data-src="/img/banner/3.jpg" class="img-responsive lazyload appear">
        </div>
      </div>
    </div>
</section>