<nav class="site-nav text-center js-nav">
    <ul class="site-nav__list list-unstyled">
        <li>
            <a class="site-nav__link js-nav-link js-page-scroll" href="#trailer"><span>Trailer</span></a>
        </li>
        <li>
            <a class="site-nav__link js-nav-link js-page-scroll" href="#about"><span>A Propos</span></a>
        </li>
        <li>
            <a class="site-nav__link js-nav-link js-page-scroll" href="#contact"><span>Contact</span></a>
        </li>
    </ul>

    <button type="button" class="site-nav__toggle js-nav-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="burger"></span>
    </button>
</nav>
