<section id="technical-data" class="bg-primary section-tech">
    <div class="container text-center">
      <dl class="tech-data">
        <dt>{{site.data.i18n[page.lang].length}}</dt>
        <dd>{{site.data.i18n[page.lang].length_value}}</dd>

        <dt>{{site.data.i18n[page.lang].takeshot}}</dt>
        <dd>{{site.data.i18n[page.lang].takeshot_value}}</dd>

        <dt>{{site.data.i18n[page.lang].film_format_ratio}}</dt>
        <dd>{{site.data.i18n[page.lang].film_format_ratio_value}}</dd>

        <dt>Version</dt>
        <dd>{{site.data.i18n[page.lang].vo_es}}</dd>

        <dt>Version</dt>
        <dd>{{site.data.i18n[page.lang].vo_stfr}}</dd>

        <dt>{{site.data.i18n[page.lang].film_location}}</dt>
        <dd>{{site.data.i18n[page.lang].film_location_value}}</dd>

        <dt>{{site.data.i18n[page.lang].film_language}}</dt>
        <dd class="latest">{{site.data.i18n[page.lang].film_language_value}}</dd>
      </dl>
    </div>
</section>