$font-family-sans-serif: 'PT Sans', serif, Arial, Helvetica, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;


$color-primary: #F95B30;
$color-primary-dark: #3A150B;
$color-secondary: #A8FA49;


//Bootstrap
$brand-primary: $color-primary;
